{% extends "events/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col md-6">
    <h1 class="text-center">About</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Risus nullam eget felis eget nunc lobortis mattis. Vestibulum lectus mauris ultrices eros in cursus
      turpis massa tincidunt. Elementum pulvinar etiam non quam lacus suspendisse. Amet facilisis magna etiam tempor
      orci eu lobortis elementum nibh. Lectus urna duis convallis convallis tellus id interdum velit. Morbi tincidunt
      ornare massa eget egestas purus viverra accumsan. Ut venenatis tellus in metus vulputate eu. Eleifend mi in nulla
      posuere sollicitudin aliquam ultrices sagittis. Integer quis auctor elit sed vulputate mi. Aliquet lectus proin
      nibh nisl condimentum id venenatis.
    </p>
    <p>
      Enim facilisis gravida neque convallis a. Massa tincidunt dui ut ornare lectus sit amet est placerat. Consequat ac
      felis donec et odio pellentesque diam. Id eu nisl nunc mi ipsum faucibus vitae aliquet. Id aliquet risus feugiat
      in ante metus dictum at tempor. Sit amet consectetur adipiscing elit ut aliquam purus. Eget mi proin sed libero
      enim sed faucibus turpis in. Quam quisque id diam vel quam elementum pulvinar etiam non. Magna sit amet purus
      gravida quis blandit. Purus sit amet luctus venenatis lectus magna fringilla. Justo donec enim diam vulputate ut
      pharetra sit. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin. Magna etiam tempor orci eu
      lobortis elementum nibh. Et netus et malesuada fames ac turpis egestas maecenas pharetra. Phasellus vestibulum
      lorem sed risus ultricies tristique nulla aliquet. Egestas integer eget aliquet nibh praesent. Pharetra magna ac
      placerat vestibulum. Tortor aliquam nulla facilisi cras fermentum odio eu. Nam at lectus urna duis convallis
      convallis tellus. In massa tempor nec feugiat nisl.
    </p>
  </div>
  <div class="col-md-3"></div>
</div>
{% endblock content %}