{% extends "events/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4>Attendes for {{event.name}}</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Name</th>
          <th scope="col">Details</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody id="interns-list">
        {% for attendee in attendees %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{attendee.username}}</td>
          <td>{{attendee.first_name}}&nbsp;{{attendee.last_name}}</td>
          <td><a href="{% url 'user_detail' attendee.pk %}">Click here</a></td>
          <td><a class="btn btn-danger" href="{% url 'remove_specific_attendee' event.pk attendee.pk %}">X</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}